# BASE SETTINGS
BACKUP_DIR="/home/user/climweb/climweb/backup"

# variables for rclone sync command
REMOTE_FOLDER="gdrive:climweb_backup/"

# variables for rsync command
DEST_PATH=user@ip_address:/data/backups/

# Optional custom key
SSH_KEY_PATH=
